.castList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.castItem {
  flex-basis: 200px;
  text-align: center;
}

.castImage {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}
